body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user-scoreboard-container {
    width:50%;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.user-scoreboard {
    list-style: none;
    padding: 0;
    margin: 0;
}
button {
    padding: 15px 30px;
    font-size: 1.2em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
}
button:hover {
    background-color: #0056b3;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.5);
}

.user-scoreboard li {
    width:80%;
    font-size: 1.2rem;
    margin: 10px auto;
    padding: 10px;
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #555;
}

.user-scoreboard li:nth-child(odd) {
    background: #e9ecef;
}
